<template>
    <div>
       <h1>管理 研发员</h1>
       <hr>
       <br>
       <div>
           <input id="inputname" placeholder="输入钉钉昵称..." v-model="name" style="font-size: 0.5rem;"></input>
       </div>
       <div>
           <Button type="primary"  class="btn" @click="submit" style="font-size: 0.5rem;">新增研发员</Button>
       </div>
       <br>
      
       
        <table width="100%" border="0"  cellspacing="0" cellpadding="2" bordercolor="#000" v-for="(madmin,index) in Admins">
            <tr>
                <td style="width:70%; font-size:0.5rem;color:black; text-align: left">研发{{index+1}}：{{madmin.name}}</td>
                <td style="width:30%; color:black; text-align: left;">
                    <Button type="primary" style="width:100%;" @click="deleteAdmin(madmin,index)" >
                        <span  class="btn3">移除</span>
                    </Button>
                  
                </td>
            </tr>
             <br><br>
        </table>

        <!-- 加载条 -->
        <br><br>
        <div id="firstDiv"></div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                Admins:[],
                name:"",
                url:"",

                newAdmin:{
                    "userName":"",
                    "level":1,
                    "etc":"",
                },
                // 显示动态加载
                opts : {            
                    lines: 13, // 花瓣数目
                    length: 20, // 花瓣长度
                    width: 10, // 花瓣宽度
                    radius: 30, // 花瓣距中心半径
                    corners: 1, // 花瓣圆滑度 (0-1)
                    rotate: 0, // 花瓣旋转角度
                    direction: 1, // 花瓣旋转方向 1: 顺时针, -1: 逆时针
                    color: 'black', // 花瓣颜色
                    speed: 1, // 花瓣旋转速度
                    trail: 60, // 花瓣旋转时的拖影(百分比)
                    shadow: true, // 花瓣是否显示阴影
                    hwaccel: false, //spinner 是否启用硬件加速及高速旋转            
                    className: 'spinner', // spinner css 样式名称
                    zIndex: 2e9, // spinner的z轴 (默认是2000000000)
                    top: '20%', // spinner 相对父容器Top定位 单位 px
                    left: '50%'// spinner 相对父容器Left定位 单位 px
                },
                spinner:"",
                
            }
        },
        mounted:function(){
            var self = this;
            var myConfig = require("./myConfig.json");
            // var host = myConfig.test_url;
            var host = myConfig.url;
            this.url = host + "/web/permission/operation?level=1";

            self.spinner = new Spinner(self.opts);
            $("#firstDiv").text("");
            var target = $("#firstDiv").get(0);
            self.spinner.spin(target);

            self.$http.get(this.url).then(
                function(res){
                     // 关掉加载条
                    self.spinner.spin();

                    res = res.body;
                    console.log("读到研发员: ",res);
                    if(res.suc == true){
                        for(var i = 0;i < res.data.length;i++){
                            self.Admins.push({
                                name:res.data[i],
                            });
                        }
                    }
                    else{
                        alert("读取已有研发员出错");
                    }
                }
            ).catch(error=>{
                // 关掉加载条
                self.spinner.spin();
                alert("读取已有研发员出错");
            });
        },
        methods:{
            // 添加 研发员
            submit:function(){
                this.newAdmin.userName = this.name;
                var self = this;
                
                self.spinner = new Spinner(self.opts);
                $("#firstDiv").text("");
                var target = $("#firstDiv").get(0);
                self.spinner.spin(target);

                this.$http.post(this.url,{"code":0,"user":this.newAdmin},
                    {emulateJSON:true}).then(
                       function(res){

                            self.spinner.spin();
                            res = res.body;
                            console.log(res);
                            if(res.suc == true) {
                                alert("研发员" + self.name + "添加成功!!");
                                // 添加Admin
                                self.Admins.push({
                                    name:self.name,
                                })
                                this.name = "";
                            }
                            else {
                               alert("研发员" + self.name + "添加失败!!");
                            }
                        }
                    ).catch( function(err){
                        self.spinner.spin();
                        alert("研发员" + self.name + "添加失败!!");
                });
              
            },
            // 删除 研发员
            deleteAdmin:function(madmin,index){
                var ans = confirm("是否要移除研发员: "+madmin.name);
                if(ans == true){
                    console.log("删除研发员",madmin.name);
                    var self = this;
                    var url = this.url;
                    var data = {"code":0,"userName":madmin.name};
                    console.log('data:',data);

                    $.ajax({
                        url:url,
                        type:"DELETE",
                        dataType:"json",
                        data:data,
                        beforeSend:function(){
                            self.spinner = new Spinner(self.opts);
                            $("#firstDiv").text("");
                            var target = $("#firstDiv").get(0);
                            self.spinner.spin(target);
                        },
                        success:function(res){
                            self.spinner.spin();
                            if(res.suc == true) {
                                    alert("研发员" + madmin.name + "删除成功")
                                    // 删除Admin
                                    self.Admins.splice(index,1);
                            }
                            else {
                                alert("研发员" + madmin.name + "删除失败")
                            }
                        },
                        error:function(err){
                            self.spinner.spin();
                            alert("研发员" + madmin.name + "删除失败")
                        }
                    });
                }
                else console.log("取消删除");
            }
        }
    }
</script>

<style>
h1{
   font-size: 0.5rem;
   color: green;
}
.btn3{
  width: 100%;
  height: 60px;
  margin-top: 4%;
  margin-left:4%;
  font-size:0.5rem;
}
input{
   margin-top: 1%;
   margin-left: 1%;
   height: 120px;
   width: 80%;
}
label{
   color:green;
   font-size: 0.5rem;
}
</style>
