<template>
    <div>
       <h1>绑定设备</h1>
       <hr>
       <div>
           <input placeholder="输入设备imei号..." v-model="imei" style="font-size: 0.5rem;"></input>
       </div>
       <div>
           <input placeholder="输入手机号..." v-model="tel" style="font-size: 0.5rem;"></input>
       </div>
       <div>
           <Button type="primary"  class="btn" @click="submit" style="font-size: 0.5rem;">提交</Button>
       </div>
    </div>
</template>

<script>
export default {
    data: function(){
         return{
              imei:"",
              tel:"",
         }
    },

    methods:
    {
        helperBind:function(imei,device,user){
            var self = this;
            //3,绑定设备
            var BIND = AV.Object.extend('Bindings');
            var bind = new BIND();

            // var device = AV.Object.createWithoutData('DID',deviceId);
            bind.set('IMEI',imei);
            bind.set('device',device);
            bind.set('user',user);

            // var deviceId = device.get('objectId');
            console.log('开始查找');
            // 查询该手机号和设备号是否已经在数据库中了
            var search = new AV.Query('Bindings');
            search.equalTo('device',device);
            search.find().then(
                // 找到该imei对应的多条记录
                function(res){
                    console.log('找到了该imei对应的多条记录');
                    var flagFind = false;
                    console.log("长度: " + res.length);
                    console.log("用户id: " + user.get('objectId'));
                    for(var i = 0;i<res.length;i++){
                        // 判断是否找到一条一模一样的记录
                        if( res[i].get('user').get('objectId') == user.get('objectId'))
                        {
                             flagFind = true;
                             break;
                        }
                    }
                    // 没找到一模一样的记录
                    if(!flagFind){
                        console.log("开始绑定");
                        bind.save().then(function(){
                            // 显示绑定成功
                            // self.$Notice.success({
                            //     title:"绑定成功",
                            // });
                            alert("绑定成功");
                            console.log("绑定成功");
                        },function(){
                            // 显示绑定失败
                            self.$Notice.error({
                                title:"绑定失败",
                            });
                            console.log("绑定失败");
                        });
                    }
                    // 找到了一条一模一样的记录
                    else{
                        // 显示绑定成功
                        // self.$Notice.success({
                        //     title:"绑定成功",
                        // });
                        alert("绑定成功");
                        console.log("绑定成功");
                    }
                },
                // 没找到相应记录,直接添加进去
                function(){
                    console.log('没找到相应记录');
                    bind.save().then(function(){
                        // 显示绑定成功
                        self.$Notice.success({
                            title:"绑定成功",
                        });
                        console.log("绑定成功");
                    },function(){
                        // 显示绑定失败
                        self.$Notice.error({
                            title:"绑定失败",
                        });
                        console.log("绑定失败");
                    });
                }
            );
        },
        submit:function(){
            var username = this.tel;
            var imei = this.imei;
            var subimei = imei.substr(0,8);

            // 防错预判
            if(imei == '' || username == ''){
                alert('输入不能为空');
                return;
            }
            // else if(imei.length != 15 || subimei !="86506702"){
            else if(imei.length != 15 ){
                alert('设备号输入格式错误');
                this.imei = "";
                return;
            }else if(username.length != 11 || username[0] != 1 || username[1] <= 2){
                alert('手机号输入格式错误');
                this.tel = "";
                return;
            }
            console.log("输入格式正确");
            // 数据处理
            var self = this;
            // 1,获取deviceId
            var query = new AV.Query('DID');
            query.equalTo('IMEI',imei);
            query.first().then(function(device){
                console.log("找到了设备device: " + device.get('objectId'));
                // 2,查询用户
                var userQuery = new AV.Query('_User');
                userQuery.equalTo('username',username);
                userQuery.find().then(
                     function(res){
                          console.log("找到了用户");
                          var user = res[0];
                          console.log("用户id是： "  + user.get('objectId'));
                          // 查到用户,绑定设备
                          self.helperBind(imei,device,user);
                         //3,没找到用户,注册,绑定设备
                     },
                     function(error){
                          console.log('错误码: '+error.code);
                          // 用户没找到
                          if(error.code == 211)
                          {
                              console.log("没找到用户");
                              var newUser = new AV.User();
                              var mobilePhone = username;
                              newUser.setUsername(username);
                              newUser.setPassword('123456');
                              newUser.setMobilePhoneNumber(mobilePhone);

                              // 4,注册
                              newUser.signUp().then(function (loginedUser) {
                                  console.log('注册成功');
                                  // 绑定设备
                                  self.helperBind(imei,device,loginedUser);
                              },function(error){
                                  // 显示绑定失败
                                  this.$Notice.error({
                                      title:"绑定失败",
                                  });
                              });
                          }
                          else{
                                // 显示绑定失败
                                this.$Notice.error({
                                    title:"绑定失败",
                                });
                          }
                });
            },function(){
                    // 显示绑定失败
                    this.$Notice.error({
                        title:"该设备未激活",
                    });
            });
        }
   }
}
</script>

<style>
h1{
   font-size: 0.5rem;
   color: green;
}
input{
   margin-top: 1%;
   margin-left: 1%;
   height: 120px;
   width: 80%;
}
</style>
