<template>
    <div>
       <h1>修改设备服务器</h1>
       <hr>

       <div>
           <input placeholder="输入设备imei号..." v-model="imei" style="font-size: 0.5rem;"></input>
       </div>

       <div>
           <input placeholder="输入服务器地址(如www.xiaoan110.com)..." v-model="server" style="font-size: 0.3rem;"></input>
       </div>
       <div>
           <Button type="primary"  class="btn" @click="submit" style="font-size: 0.5rem;">提交</Button>
       </div>

        <!-- 加载条 -->
        <br><br>
        <div id="firstDiv"></div>
        
    </div>
</template>

<script>

export default {
    data(){
        return {
            imei:"",
            server:"",

            data:{
                "imei":"",
                "cmd":{
                    "c":11,
                    "param":{
                        "type":0,
                        "server":""
                    }
                }
            },
            // 显示动态加载
            opts : {            
                lines: 13, // 花瓣数目
                length: 20, // 花瓣长度
                width: 10, // 花瓣宽度
                radius: 30, // 花瓣距中心半径
                corners: 1, // 花瓣圆滑度 (0-1)
                rotate: 0, // 花瓣旋转角度
                direction: 1, // 花瓣旋转方向 1: 顺时针, -1: 逆时针
                color: 'black', // 花瓣颜色
                speed: 1, // 花瓣旋转速度
                trail: 60, // 花瓣旋转时的拖影(百分比)
                shadow: true, // 花瓣是否显示阴影
                hwaccel: false, //spinner 是否启用硬件加速及高速旋转            
                className: 'spinner', // spinner css 样式名称
                zIndex: 2e9, // spinner的z轴 (默认是2000000000)
                top: '20%', // spinner 相对父容器Top定位 单位 px
                left: '50%'// spinner 相对父容器Left定位 单位 px
            },
            spinner:"",

        }
    },
    methods:{

         // 修改服务器地址 (v1/device)
         submit:function(){
            var imei = this.imei;
            
            if(imei.length != 15){
                 alert("设备号格式错误");
                 this.imei = "";
            }else if(this.server.length == 0){
                 alert("服务器地址错误");
                 this.server = "";
            }else{
                var self = this;
                this.data.imei = imei;
                this.data.cmd.param.server = this.server + ":9880";
                $.ajax({
                    url:"https://api.xiaoantech.com/v1/device",
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    type: 'POST',
                    data: JSON.stringify(self.data),
                    beforeSend:function(){
                        self.spinner = new Spinner(self.opts);
                        $("#firstDiv").text("");
                        var target = $("#firstDiv").get(0);
                        self.spinner.spin(target);
                    },
                    success: function(res)
                    {
                        console.log("收到回复: ",res);
                        self.spinner.spin();
                        if(res.code == 0 || res.code == 108)  alert("服务器修改成功");
                        else if(res.code = 101) alert('服务器修改失败');
                        else self.errorHandler(res.code);
                    },
                    error: function(res)
                    {
                        self.spinner.spin();
                        alert("服务器修改失败");
                    }
                });
             }
         }
     }

   }
</script>

<style>
h1{
   font-size: 0.5rem;
   color: green;
}
input{
   margin-top: 1%;
   margin-left: 1%;
   height: 120px;
   width: 80%;
}
</style>
