 <template>
     <div>
        <h1>删除报警电话</h1>
        <hr>

        <div>
            <input placeholder="输入设备imei号..." v-model="imei" style="font-size: 0.5rem;"></input>
        </div>
        <div>
            <input placeholder="输入手机号..." v-model="tel" style="font-size: 0.5rem;"></input>
        </div>
        <div>
            <Button type="primary"  class="btn" @click="submit" style="font-size: 0.5rem;">提交</Button>
        </div>
     </div>
 </template>

 <script>
     export default {
       data(){
        return {
           imei:"",
           tel:"",
        }
      },
      methods:{
          submit:function(){
              var imei = this.imei;
              var imeiStart = imei.substr(0,8);
              var tel = this.tel;

              // if(imeiStart != "86506702" || imei.length != 15){
              if(imei.length != 15){
                  alert("设备号格式错误");
                  this.imei = "";
              }else if (tel[0] != 1 || tel[1] <= 2 || tel.length != 11 ) {
                  alert("手机号格式错误");
                  this.tel = "";
              }else{
                  var self = this;
                  var data = "{\"telephone\":"+ tel + "}";
                  $.ajax({
                      url:"http://api.xiaoantech.com/v1/telephone/"+self.imei,
                      dataType: 'json',
                      contentType: "application/json; charset=utf-8",
                      type: 'DELETE',
                      data: data,
                      success: function(res)
                      {
                          if(res.code == 0)  alert("操作成功");
                          else if(res.code = 101) alert('操作失败');
                          else self.errorHandler(res.code);
                      },
                      error: function(res)
                      {
                         alert("失败");
                      }
                  });
              }
          }
      }

    }
 </script>

 <style>
 h1{
    font-size: 0.5rem;
    color: green;
 }
 input{
    margin-top: 1%;
    margin-left: 1%;
    height: 120px;
    width: 80%;
 }
 </style>
