<template>
    <div>
        <!-- 加载条 -->
        <br><br>
        <div id="firstDiv"></div>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    data:function(){
        return{
            timer:"",
            url:"",
            // 显示动态加载
            opts : {            
                lines: 13, // 花瓣数目
                length: 20, // 花瓣长度
                width: 10, // 花瓣宽度
                radius: 30, // 花瓣距中心半径
                corners: 1, // 花瓣圆滑度 (0-1)
                rotate: 0, // 花瓣旋转角度
                direction: 1, // 花瓣旋转方向 1: 顺时针, -1: 逆时针
                color: 'black', // 花瓣颜色
                speed: 1, // 花瓣旋转速度
                trail: 60, // 花瓣旋转时的拖影(百分比)
                shadow: true, // 花瓣是否显示阴影
                hwaccel: false, //spinner 是否启用硬件加速及高速旋转            
                className: 'spinner', // spinner css 样式名称
                zIndex: 2e9, // spinner的z轴 (默认是2000000000)
                top: '20%', // spinner 相对父容器Top定位 单位 px
                left: '50%'// spinner 相对父容器Left定位 单位 px
            },
            spinner:"",
            }
    },
    mounted:function(){
        console.log("我是  鉴权  页面");
        var self = this;
        var myConfig = require("./myConfig.json");
        // var host = myConfig.test_url ;
        var host = myConfig.url;
        this.url = host + "/web/permission/operation?userName=";

        this.timer = setInterval(function(){
            if(localStorage.hasOwnProperty('ACCESS_USER_NAME') ){
                var user = localStorage.getItem("ACCESS_USER_NAME");
                
                // 显示进度加载条
                self.spinner = new Spinner(self.opts);
                $("#firstDiv").text("");
                var target = $("#firstDiv").get(0);
                self.spinner.spin(target);
                
                // 我是超级管理员
                if(user === "雷后超" )       
                {
                     self.$Notice.success({
                         title: "超超级管理员,欢迎肥来!!",
                     });
                    //存储用户等级
                    localStorage.setItem("accessLevel",0);
                    self.spinner.spin();
                    self.$router.push({path:'/Main'});
                    clearInterval(self.timer);
                }else{
                    // 查询用户权限
                    var myUrl = self.url + user;
                    self.$http.get(myUrl).then(
                        function(res){
                            res = res.body;
                            console.log("检查权限,",res);
                            if(res.suc == true){
                                var name = res.data.userName;
                                var level = res.data.level;
                                var info = name +  " 欢迎回来! " ;// + ",您的权限等级是:" + level;
                                self.$Notice.success({
                                    title: info,
                                });

                                //存储用户等级
                                localStorage.setItem("accessLevel",level);
                                self.spinner.spin();
                                self.$router.push({path:'/Main'});
                                clearInterval(self.timer);
                            }
                            else{
                                self.spinner.spin();
                                self.$router.push({path:'/WantAccess'});
                                clearInterval(self.timer);
                            }
                        }
                    ).catch(error=>{
                        self.$Notice.error({
                            title: "读取用户权限出错",
                        });
                    });
                    
                }
            }else{
                 console.log("没有该属性");
            }
                //  console.log("定时器溢出了....");
        },1000);
    },

}
</script>
