<template>
    <div>
        <h1 class="h">查询设备信息</h1>
        <hr>
        <div>
            <input placeholder="输入设备号..." v-model="imei" style="font-size: 0.5rem;"></input>
        </div>
        <br>
        <!-- 手机日期区间选择器 -->
		<input placeholder="日志起始时间..."
         readonly="readonly" id="appStartTime" style="font-size: 0.4rem; ">
        <br><br>
        <input placeholder="日志结束时间..."
         readonly="readonly" id="appEndTime" style="font-size: 0.4rem; ">

        <div>
            <Button type="primary"  class="btn" @click="submit" style="font-size: 0.5rem;">提交</Button>
        </div>

        <!-- 加载条 -->
        <div id="firstDiv"></div>
        <br>

        <div v-if="show" class="d" >
                 <!-- 设备激活日期 -->
                <div >
                    <label>设备:</label>
                    <label v-bind:style="{
                        'font-size':'0.3rem',
                        'color':onlineColor,
                        'font-style': 'bold',
                    }">{{online}}</label>
                </div>
                <!-- 设备激活日期 -->
                <div >
                    <label>设备激活日期:    </label>
                    <label class="lable">{{createDate}}</label>
                </div>
                <!-- 设备到期日期 -->
                <div >
                    <label>设备到期日期:    </label>
                    <label class="lable">{{deadDay}}</label>
                </div>
                <!-- 设备登录日期 -->
                <div >
                    <label>设备最近登录日期:    </label>
                    <label class="lable">{{date}}</label>
                </div>
                <!-- GSM -->
                <div style="display:flex; flex-direction:row;">
                    <!-- GSM信号强度 -->
                    <div style="width:100%;">
                        <label style="color:#2b85e4">GSM信号强度:    </label>
                        <label class="lable">{{Gsm}}</label>
                    </div>
                </div>  
                <!-- MaxGSM 电压值 -->
                <div style="display:flex; flex-direction:row;">
                    <!-- MaxGSM -->
                    <div style="width:50%;">
                        <label  style="color:#2b85e4">MaxGSM:    </label>
                        <label class="lable">{{MaxGSM}}</label>
                    </div>
                    <!-- 电压值 -->
                    <div style="width:50%;">
                        <label style="color:#2b85e4">电压:    </label>
                        <label class="lable">{{voltage}}</label>
                    </div>
                </div>
                <!-- 设备类型,固件版本号 -->
                <div style="display:flex; flex-direction:row;">
                    <!-- 设备类型 -->
                    <div style="width:50%;">
                        <label style="color:#2b85e4">设备类型:    </label>
                        <label class="lable">{{deviceType}}</label>
                    </div>
                    <!-- 固件版本号 -->
                    <div style="width:50%;">
                        <label style="color:#2b85e4">固件版本号:    </label>
                        <label class="lable">{{version}}</label>
                    </div>
                </div>
               
                <!-- 经度 -->
                <div style="display:flex; flex-direction:row;">
                    <label style="color:#2b85e4">纬度:    </label>
                    <label class="lable">{{latitude}}</label>
                </div>
                <!-- 纬度 -->
                <div style="display:flex; flex-direction:row;">
                    <label style="color:#2b85e4">经度:    </label>
                    <label class="lable">{{longitude}}</label>
                </div>
                <!-- GPS,卫星数量 -->
                <div style="display:flex; flex-direction:row;">
                    <!-- GPS信号强度 -->
                    <div style="width:100%;">
                        <label>GPS信号强度:    </label>
                        <label class="lable">{{Gps}}</label>
                    </div>
                   
                    <!-- 卫星数量 -->
                    <!-- <div style="width:50%;">
                        <label>卫星数量:    </label>
                        <label class="lable">{{Satellity}}</label>
                    </div> -->
                </div>
              <hr>
        </div>

        <!-- 日志 -->
        <table v-if="show" width="100%" border="1"  cellspacing="0" cellpadding="2" bordercolor="#000">
            <tr>
                <td style="width:70%; font-size:0.5rem;color:black; text-align: center">时间</td>
                <td style="width:30%; font-size:0.5rem;color:black; text-align: center">事件</td>
            </tr>
        </table>
        <div v-if="show" style="height:1000px; overflow:auto; ">
            <table width="100%" border="1"  cellspacing="0" cellpadding="2" bordercolor="#000" v-for="item in data1">
                <tr>
                    <td style="width:70%; font-size:0.5rem;color:black; text-align: center">{{item.eventTime}}</td>
                    <td style="width:30%; font-size:0.5rem;color:black; text-align: center">{{item.event}}</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
import "../../static/js/jquery.1.7.2.min.js"
import "../../static/js/mobiscroll_002.js"
import "../../static/js/mobiscroll_004.js"
import "../../static/js/mobiscroll.js"
import "../../static/js/mobiscroll_003.js"
import "../../static/js/mobiscroll_005.js"

export default {
    data: function(){
        return {
            // 设备信息、
            online:"离线",
            onlineColor:"red",
            imei:"",
            Gsm : '',
            MaxGSM:"",               //最大Gsm
            Gps : '',
            Satellity : '',
            date:'',
            createDate:'',
            deadDay:'',
            version:'',              // 固件版本号
            longitude:"",            //纬度
            latitude:"",             //经度
            voltage:"",              //电压值
            deviceType:"",           // 设备类型
            // 日志信息
            columns1: [
                   {
                       title: '日期',
                       key: 'eventTime'
                   },
                   {
                       title: '事件',
                       key: 'event'
                   },
            ],
            data1: [],
            // 是否显示
            show:false,

            // 获取GSM等需要的post数据
            data4Gsm:{
                "imei":"",
                "cmd":{
                    "c":1
                }
            },

            // 显示动态加载
            opts : {            
                lines: 13, // 花瓣数目
                length: 20, // 花瓣长度
                width: 10, // 花瓣宽度
                radius: 30, // 花瓣距中心半径
                corners: 1, // 花瓣圆滑度 (0-1)
                rotate: 0, // 花瓣旋转角度
                direction: 1, // 花瓣旋转方向 1: 顺时针, -1: 逆时针
                color: 'black', // 花瓣颜色
                speed: 1, // 花瓣旋转速度
                trail: 60, // 花瓣旋转时的拖影(百分比)
                shadow: true, // 花瓣是否显示阴影
                hwaccel: false, //spinner 是否启用硬件加速及高速旋转            
                className: 'spinner', // spinner css 样式名称
                zIndex: 2e9, // spinner的z轴 (默认是2000000000)
                top: '20%', // spinner 相对父容器Top定位 单位 px
                left: '50%'// spinner 相对父容器Left定位 单位 px
            },
            spinner:"",
            // 标志位标志数据全部获取完毕
            flag:{
                "first":false,
                "second":false,
                "third":false,
                "forth":false,
                "fifth":false,
            },
            timer:"",

            // 日志查询时间
            startTime:"",
            endTime:"",
        }
    },
    mounted: function(){
       if(localStorage.hasOwnProperty('keyImei') ){
             var param = localStorage.getItem("keyImei");
             console.log("param is : " + param);
             localStorage.removeItem("keyImei");
             this.imei = param;
             this.submit();
       }else{
          console.log("no find !!!");
       }
        this.selectTime();
        
        // 设置默认查询时间 (昨天此刻到今天此刻)
        var today = new Date();
        today.setDate(today.getDate()+1);
        today.setHours(0);
        today.setMinutes(0);
        today.setSeconds(0);                         // 设置: 明天的00:00:00
        this.endTime = Date.parse(today) / 1000; 
        today.setDate(today.getDate() - 1);
        this.startTime = Date.parse(today) / 1000;   // 设置: 今天的00:00:00
    },
    methods:
    {
        // 强制清空旧数据
        clearData(){
            this.online = "离线";
            this.onlineColor = "red";
            this.createDate = '';    // 激活日期
            this.deadDay = '';       // 到期日期
            this.date = '';          // 最近登录日期
            this.Gsm = '';
            this.MaxGSM = "";               //最大Gsm
            this.voltage = "";              //电压值
            this.deviceType = "";           // 设备类型
            this.version ='';              // 固件版本号
            this.longitude = "";            //纬度
            this.latitude = "";             //经度
            this.Gps = '';
            // this.Satellity = '';
            this.data1 = [];
            this.show = false;
        },
        selectTime:function(){
            var currYear = (new Date()).getFullYear();	
			var opt={};
			opt.date = {preset : 'date'};
			opt.datetime = {preset : 'datetime'};
			opt.time = {preset : 'time'};
			opt.default = {
				theme: 'android-ics light', //皮肤样式
		        display: 'modal', //显示方式 
		        mode: 'scroller', //日期选择模式
				dateFormat: 'yyyy-mm-dd',
				lang: 'zh',
				showNow: true,
				nowText: "今天",
		        startYear: currYear - 10, //开始年份
		        endYear: currYear + 10 //结束年份
            };
            /* 年月日 型*/
            $("#appStartTime").mobiscroll($.extend(opt['date'], opt['default']));//年月日型
            $("#appEndTime").mobiscroll($.extend(opt['date'], opt['default']));//年月日型
            
            /* 年月日时分秒 型*/
            // var optDateTime = $.extend(opt['datetime'], opt['default']);
		  	// var optTime = $.extend(opt['time'], opt['default']);
            // $("#appStartTime").mobiscroll(optDateTime).datetime(optDateTime);
            // $("#appEndTime").mobiscroll(optDateTime).datetime(optDateTime);
            
        },
        errorHandler:function(erron){
            switch(erron){
                case 100: alert('服务器内部错误'); break;
                case 101: alert('请求无 IMEI'); break;
                case 102: alert('无请求内容'); break;
                case 103: alert('请求内容错误'); break;
                case 104: alert('请求 URL 错误'); break;
                case 105: alert('请求范围过大'); break;
                case 106: alert('接入服务器无响应'); break;
                case 107: alert('接入服务器不在线'); break;
                case 108: alert('设备无响应'); break;
                case 109: alert('设备不在线'); break;
                case 110: alert('设备内存错误'); break;
                case 111: alert('设备不支持该指令'); break;
                case 113: alert('电池类型未设置'); break;
                case 114: alert('参数不合法'); break;
                case 115: alert('参数缺失'); break;
            }
        },
        // 设备激活时间  (leancloud数据库 离线)
        GetCreateDate: function(imei){
            var self = this;
            var query = new AV.Query('DID');
            query.equalTo('IMEI',imei);

            query.first().then(
                function(res){
                    var date = res.get('createdAt');
                    var year = date.getFullYear();
                    var month = date.getMonth() + 1;
                    if(month < 10) month = "0" + month;            // 格式化时间: 2:0 -> 02:00
                    var day = date.getDay();
                    if(day < 10) day = "0" + day; 
                    var hour = date.getHours();
                    if(hour < 10) hour = "0" + hour; 
                    var minute = date.getMinutes();
                    if(minute < 10) minute = "0" + minute; 
                    var second = date.getSeconds();
                    if(second < 10) second = "0" + second; 
                    var str = year + "-" + month + "-" + day +" " + hour + ":"
                            + minute + ":" + second;
                    console.log('设备激活日期: ',str);
                    self.createDate = str;

                    // 标志获取数据完成
                    self.flag.first = true;
                    console.log("第1个读到(共5个)");
                    // console.log("读到激活日期,返回:",self.flag.first);
                },function(){
                    // 标志获取数据完成
                    self.flag.first = true;
                    console.log("第1个读到(共5个)");
                    alert('设备未激活');

                    /*********** 没查到结果,清除旧数据*************************/
                    self.createDate = "查询无果";
                }
            );
        },
        // 设备到期时间 (v1/simStatus/ 离线)
        getDeadDay: function(imei){
            var self = this;
            $.ajax({
                url:"http://api.xiaoantech.com/v1/simStatus/" + imei,
                dataType:'json',
                type:'GET',
                success: function(res){
                    console.log("suc:查询到期时间:",res);
                    if(res.code == 0){
                        if(res.expiry_date == null) self.deadDay = "查询无果";
                        else self.deadDay = res.expiry_date; // 获取设备到期时间
                    }else{
                        self.deadDay = '查询无果';
                    }
                    // 标志获取数据完成
                    self.flag.third = true;
                    console.log("第3个查到(共5个)");
                },error: function(res)
                {
                    console.log("error: 查询到期时间:",res);
                    self.deadDay = '查询无果';
                    // 标志获取数据完成
                    self.flag.third = true;
                    console.log("第3个查到(共5个)");
                    // console.log("到期日期返回:",self.flag.third);
                }
            });
        },
        // Gps信号强度 (卫星数量) (v1/device/ 在线)
        getGpsSignal: function(imei){
           var self = this;
           var data = "{\"imei\":\""+imei+"\",\"cmd\":{\"c\":17}}";
           $.ajax({
               url:"https://api.xiaoantech.com/v1/device",
               dataType: 'json',
               contentType: "application/json; charset=utf-8",
               type: 'POST',
               data: data,
               success: function(res){
                    // console.log('读取gps信号强度成功,返回:');
                    // console.log(res);

                     // 标志获取数据完成
                    self.flag.forth = true;
                    console.log("第4个查到(共5个)");

                    // 成功返回
                    if(res.code == 0){
                        if(res.result.GPSSignal <= 1)
                                self.Gps = "优" ;
                        else if(res.result.GPSSignal <= 2)
                                self.Gps = "良";
                        else if(res.result.GPSSignal <= 10)
                                self.Gps = "好";
                        else  self.Gps = "差";

                        self.Gps = self.Gps + "(" + res.result.GPSSignal + ")";
                        console.log();
                        // self.Satellity = res.result.satellites;
                    }else{
                        //返回错误
                        self.Gps = '查询无果';
                        // self.Satellity = '';
                        // self.errorHandler(res.code);
                    }
               },error: function(res){
                    console.log('读取gps信号强度失败,返回:');
                    console.log(res);
                    self.Gps = '查询无果';
                    // self.Satellity = '';

                     // 标志获取数据完成
                    self.flag.forth = true;
                    console.log("第4个查到(共5个)");
               }
           });
        },
        // 设备登录时间 Gsm信号强度 设备类型 
        //     固件版本号 MaxGsm 电压 经纬度(v1/server/ 离线)
        getGsmAndTime: function(imei){
           var self = this;
           this.data4Gsm.imei = imei;
           $.ajax({
                url:"https://api.xiaoantech.com/v1/server",
                dataType:'json',
                contentType: "application/json; charset=utf-8",
                type: 'POST',
                data: JSON.stringify(this.data4Gsm),
                success: function(res){
                    // console.log("读取系列信息:",res);
                    // 标志获取数据完成
                    self.flag.second = true;
                    console.log("第2个查到(共5个)");
                    if(res.code != 0){
                        self.date = "查询无果";
                        self.Gsm  = "查询无果";
                        self.deviceType = "查询无果";
                        self.version = "查询无果";
                        self.MaxGSM = "查询无果";
                        self.voltage = "查询无果";
                        self.latitude = "查询无果";
                        self.longitude = "查询无果";
                        self.online = "离线";
                        self.onlineColor = "red";
                    }
                    else{
                        // 获取登录时间
                        res = res.data;
                        var nS = res.timestamp;
                        var date = new Date(parseInt(nS) * 1000);//.toLocaleString().substr(0,17);
                        var year = date.getFullYear();
                        var month = date.getMonth() + 1;
                        if(month < 10) month = "0" + month;         // 格式化时间 2:0 -> 02:00
                        var day = date.getDate();
                        if(day < 10) day = "0" + day;
                        var hour = date.getHours();
                        if(hour < 10) hour = "0" + hour;
                        var minute = date.getMinutes();
                        if(minute < 10) minute = "0" + minute;
                        var second = date.getSeconds();
                        if(second < 10) second = "0" + second;
                        self.date = year + '-' + month + '-' + day + ' ' + hour + ':'
                                    + minute + ":" + second ;

                        // 获取Gsm信号
                        if( res.GSM < 10) self.Gsm ="差";
                        else if( res.GSM < 20) self.Gsm ="良";
                        else  self.Gsm ="优";
                        self.Gsm = self.Gsm + "(" + res.GSM + ")";

                        // 获取 设备类型
                        if(res.deviceType == 1) self.deviceType = "小安宝初代(1)";
                        else if(res.deviceType == 2) self.deviceType = "小安宝一代(2)";
                        else if(res.deviceType == 3) self.deviceType = "小安宝二代(3)";
                        else if(res.deviceType == 4) self.deviceType = "小安宝三代(4)";
                        else if(res.deviceType == 5) self.deviceType = "小安宝四代(5)";

                        else if(res.deviceType == 6) self.deviceType = "小安宝无代(6)";
                        else if(res.deviceType == 7) self.deviceType = "小安宝六代(7)";
                        else if(res.deviceType == 10) self.deviceType = "玥安 初代(10)";
                        else if(res.deviceType == 20) self.deviceType = "玥安第一代(20)";
                        else if(res.deviceType == 21) self.deviceType = "玥安第二代(21)";

                        // 获取 固件版本号
                        console.log("版本:",res.version);
                        var version1 = Math.floor(res.version / 65536);
                        var version2 = Math.floor((res.version - version1 * 65536 ) / 256);
                        var version3 = Math.floor((res.version - version1 * 65536 - version2 * 256));
                        self.version = version1 + "." +  version2 + "." + version3 ;

                        //MaxGsm
                        self.MaxGSM = res.MAXGSM;

                        //电压值
                        self.voltage = res.voltage;

                        // 经纬度
                        self.latitude = res.latitude;
                        self.longitude = res.longitude;

                        //设备是否在线
                        if(res.state == 1) {
                            self.online = "在线";
                            self.onlineColor = "green";
                        }
                    }
                },error: function(res)
                {
                    // 标志获取数据完成
                    self.flag.second = true;
                    console.log("第2个查到(共5个)");

                    self.date = "查询无果";
                    self.Gsm  = "查询无果";
                    self.deviceType = "查询无果";
                    self.version = "查询无果";
                    self.MaxGSM = "查询无果";
                    self.voltage = "查询无果";
                    self.latitude = "查询无果";
                    self.longitude = "查询无果";
                    self.online = "离线";
                    self.onlineColor = "red";
                }
             });
        }, 
        // 日志 (v1/deviceEvent/ 离线)
        GetEvents: function(imei){
            var self = this;
            var startTime = document.getElementById("appStartTime").value;
            var endTime = document.getElementById("appEndTime").value;
            
            var tS = 0,tE = 0;
            if(startTime == "" && endTime == ""){   // 如果用户没有输入:使用默认时间
                tS = this.startTime;
                tE = this.endTime;
            }else if(startTime == "" && endTime != ""){ // 只输入结束时间，没输入起始时间:提示出错
                alert("请输入查询起始时间");
                return;
            }else if(startTime != "" && endTime == ""){ // 只输入起始时间，没输入结束时间:结束时间使用默认
                tE = this.endTime;             // 结束时间: 明天的00:00:00
                var sy = startTime.substr(0,4);
                var sm = startTime.substr(5,2);
                var sd = startTime.substr(8,2);
                var sh = 0;//startTime.substr(11,2);
                var sf = 0;//startTime.substr(14,2);

                var today = new Date();
                today.setFullYear(parseInt(sy));
                today.setMonth(parseInt(sm)-1);
                today.setDate(parseInt(sd));
                today.setHours(parseInt(sh));
                today.setMinutes(parseInt(sf));
                today.setSeconds(0);
                // console.log(today);
                tS =  Date.parse(today) / 1000;          // 开始时间: 输入日期的00:00:00
            }else{                      // 起始时间和结束时间都输入了
                // 解析tS
                var sy = startTime.substr(0,4);
                var sm = startTime.substr(5,2);
                var sd = startTime.substr(8,2);
                var sh = 0;//startTime.substr(11,2);
                var sf = 0;//startTime.substr(14,2);
              
                var today = new Date();
                today.setFullYear(parseInt(sy));
                today.setMonth(parseInt(sm)-1);
                today.setDate(parseInt(sd));
                today.setHours(parseInt(sh));
                today.setMinutes(parseInt(sf));
                today.setSeconds(0);
                tS =  Date.parse(today) / 1000;

                // 解析tE
                sy = endTime.substr(0,4);
                sm = endTime.substr(5,2);
                sd = endTime.substr(8,2) ;
                sh = 0;//endTime.substr(11,2);
                sf = 0;//endTime.substr(14,2);
              
                today.setFullYear(parseInt(sy));
                today.setMonth(parseInt(sm)-1);
                today.setDate(parseInt(sd)+1);
                today.setHours(parseInt(sh));
                today.setMinutes(parseInt(sf));
                today.setSeconds(0);
                tE =  Date.parse(today) / 1000;
            }
            // 判断一下起止是否输入反了
            if(tS > tE){
                alert("您的起止时间可能反了");
                return;
            }
           console.log(tS);
           console.log(tE);
            // 先清空之前的日志
            self.data1 = [];

            var _url = "http://api.xiaoantech.com/v1/deviceEvent/"+imei+"?start=" + tS +"&end=" + tE;
            $.get({
                url:_url,
                dataType:"json",
                success: function(res){

                    // 标志获取数据完成
                    self.flag.fifth = true;
                    console.log("第5个查到(共5个)");

                    if(res.length == 0) alert('日志为空');
                    else{
                        var len = res.length;
                        // console.log("读到日志:",res);
                        self.data1 = [];
                        for(var i = 0; i < len ; i++ )
                        {
                            // 计算时间
                            var nS = res[i].timestamp;
                            var date = new Date(parseInt(nS) * 1000);//.toLocaleString().substr(0,17);
                            var year = date.getFullYear();
                            var month = date.getMonth() + 1;        // 格式化时间格式: 2:0 -> 02:00
                            if(month < 10) month = "0" + month;
                            var day = date.getDate();
                            if(day < 10) day = "0" + day;
                            var hour = date.getHours();
                            if(hour < 10) hour = "0" + hour;
                            var minute = date.getMinutes();
                            if(minute < 10) minute = "0" + minute;
                            var second = date.getSeconds();
                            if(second < 10) second = "0" + second;
                            var eventTime = year + '-' + month + '-' + day + ' ' + hour + ':'
                                          + minute + ":" + second ;
                            var event = "";

                            // 计算事件
                            switch(res[i].event){
                                case 0: event = '自动落锁'; break; //autolock
                                case 1: event = '自动设防开启'; break; //defendon
                                case 2: event = '自动设防关闭'; break; //defendoff
                                case 3: event = '登录'; break; //login
                                case 4: event = '超时'; break;  //timeout
                                case 5: event = '移动报警'; break; //move_alarm
                                case 6: event = '断电报警'; break;  //cut_alarm
                                case 7: event = '电门开启'; break; //switch_on
                                case 8: event = '电门关闭'; break; //switch_off
                                case 9: event = '低电量报警'; break;//lowpower
                                case 10: event = '退出登录'; break; //logout
                                case 11: event = '后座锁开启'; break; //backseat_open
                                case 12: event = '后座锁关闭'; break; //backseat_close
                                case 13: event = '切换服务器到芒果'; break; //backseat_close
                                case 14: event = '切换服务器到小蜜'; break; //backseat_close
                                case 15: event = "恢复报警"; break;
                            }
                            self.data1.push({
                                 eventTime:eventTime,
                                 event:event,
                            });
                        }
                    
                        // 逆序
                        for(var i = 0;i<self.data1.length/2;i++)
                        {
                            var tmp = self.data1[i].eventTime;
                            self.data1[i].eventTime = self.data1[len-1-i].eventTime;
                            self.data1[len-1-i].eventTime = tmp;

                            tmp = self.data1[i].event;
                            self.data1[i].event =  self.data1[len-1-i].event;
                            self.data1[len-1-i].event = tmp;
                        }
                    }
                },error: function(res)
                {
                    // 标志获取数据完成
                    self.flag.fifth = true;
                    console.log("第5个查到(共5个)");
                    self.data1 = [];
                }
             });
        },
        // 定时器处理函数
        timerHandler:function(){
            if(this.flag.first == true && 
               this.flag.second == true && 
               this.flag.third == true && 
               this.flag.forth == true && 
               this.flag.fifth == true  
            ){
                this.show = true;
                this.spinner.spin();
                clearInterval(this.timer);
            }
            // console.log("定时器...");
        },
        submit: function(){
            var imei = this.imei;
            var imeiStart = imei.substr(0,8);
            var self = this;
        
            if(imei.length != 15){
                alert("设备号格式错误");
                this.imei = "";
            }else{

                $.ajax({
                    url:"http://api.xiaoantech.com/v1/imeiValidate/" + imei,
                    dataType:'json',
                    type:'GET',
                    success: function(res){
                        // 设备号可用
                        if(res.exist == 1){
                            self.clearData();
                            self.show = false;
                            self.flag.first = false;
                            self.flag.second = false;
                            self.flag.third = false;
                            self.flag.forth = false;
                            self.flag.fifth = false;

                            self.spinner = new Spinner(self.opts);
                            $("#firstDiv").text("");
                            var target = $("#firstDiv").get(0);
                            self.spinner.spin(target);

                             self.flag.first = true;
                            self.getGsmAndTime(imei);
                            // self.GetCreateDate(imei);       // 设备激活日期
                            self.getDeadDay(imei);
                            self.getGpsSignal(imei);
                            self.GetEvents(imei);
                            self.timer = setInterval(self.timerHandler,1000);
                        }else{
                            // 设备号不可用
                            alert("设备号不可用");
                            self.imei = "";
                            return;
                        }
                    },error: function(res)
                    {
                       alert("设备号不可用");
                       self.imei = "";
                       return;
                    }
                });
            }
            
        }
   }
}
</script>

<style>
@import "../../static/css/mobiscroll_002.css";
@import "../../static/css/mobiscroll.css";
@import "../../static/css/mobiscroll_003.css";

.h{
   font-size: 0.5rem;
   color: green;
}
.btn{
  width: 70%;
  height: 5%;
  margin-top: 4%;
  margin-left:4%;
}
.d label{
  font-size: 0.3rem;
  color:green;
}
.d .lable{
   font-size:0.3rem;
   color:black;
   font-style: bold;
}
</style>
