<template>
    <div class="imeiList">
        <h1>查询已绑设备</h1>
        <hr>

        <div>
            <input placeholder="输入手机号..." v-model="tel" style="font-size: 0.5rem;"></input>
        </div>
        <div>
            <Button type="primary"  class="btn" @click="submit" style="font-size: 0.5rem;">提交</Button>
        </div> 
        
        
        <!-- <div>
            <Button type="primary"  class="btn" @click="test" style="font-size: 0.5rem;">测试</Button>
        </div> -->
        
        <!-- 加载条 -->
        <div id="firstDiv"></div>
        
        <ul v-for="(item,index) of events">
            <li>
                <span class="imeiNum" @click="showDetail(item)">{{index+1}}.  {{item}}</span>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    data: function(){
        return{
            events:[
            ],
            tel:"",
            // 显示动态加载
            opts : {            
                lines: 13, // 花瓣数目
                length: 20, // 花瓣长度
                width: 10, // 花瓣宽度
                radius: 30, // 花瓣距中心半径
                corners: 1, // 花瓣圆滑度 (0-1)
                rotate: 0, // 花瓣旋转角度
                direction: 1, // 花瓣旋转方向 1: 顺时针, -1: 逆时针
                color: 'black', // 花瓣颜色
                speed: 1, // 花瓣旋转速度
                trail: 60, // 花瓣旋转时的拖影(百分比)
                shadow: true, // 花瓣是否显示阴影
                hwaccel: false, //spinner 是否启用硬件加速及高速旋转            
                className: 'spinner', // spinner css 样式名称
                zIndex: 2e9, // spinner的z轴 (默认是2000000000)
                top: '20%', // spinner 相对父容器Top定位 单位 px
                left: '50%'// spinner 相对父容器Left定位 单位 px
            },
            spinner:"",

            // 发送日志数据
            logData:{
                "code":0,
                "data":{
                    "who":"test",
                    "what":"test",
                    "type":1,
                    "when":''
                }
            }
        }
    },
    methods:{
        showDetail:function(item){
            console.log("item: "+item);
            localStorage.setItem("keyImei",item);
            this.$router.push({
                path:"../Querydevice",
            });
        },
        submit: function(){
            var tel = this.tel;
            var self = this;
            if (tel[0] != 1 || tel[1] <= 2 || tel.length != 11 ) {
                alert("手机号格式错误");
                this.tel = "";
            }else{
                var username = tel;
                console.log('username: ' + username);

                // 显示加载进度条
                this.spinner = new Spinner(this.opts);
                $("#firstDiv").text("");
                var target = $("#firstDiv").get(0);
                this.spinner.spin(target);

                var userQuery = new AV.Query('_User');
                userQuery.equalTo('username',username);
                userQuery.find().then(
                    //找到用户
                    function(user){
                        // 关闭进度条
                        self.spinner.spin();
                        if(user.length == 0) {
                             alert('该手机号未绑定设备');
                             return;
                        }
                        console.log('找到了用户');
                        // 查询该手机号绑定了哪些设备
                        var query = new AV.Query('Bindings');
                        query.equalTo('user',user[0]);
                        query.find().then(
                            //在Bingings表中找到了
                            function(results){
                                console.log('找到了绑定表');
                                var queryImei = new AV.Query('DID');
                                if(results.length == 0){
                                    alert("该手机号没有绑定设备");
                                    return;
                                }
                                var index = 0;
                                for(var i = 0;i<results.length;i++){
                                    var deviceId =  results[i].get('device').get('objectId');
                                    console.log('deviceId: ' + deviceId );
                                    queryImei.get(deviceId).then(
                                        // 找到了对应的Imei
                                        function(obj){
                                            var _imei = obj.get('IMEI');
                                            console.log('imei'+i+': ' + _imei);
                                            self.events.splice(0,0,_imei);
                                        }
                                    );
                                }
                            },
                            // 没找到
                            function(err){
                                console.log('没找到绑定表');
                                alert('该手机号未绑定设备');
                            }
                        );
                    },
                ).catch(  // 登录失败
                  function(error){
                      // 关闭进度条
                      self.spinner.spin();
                      console.log('没找到用户');
                      alert('该手机号未绑定设备');
                  });
            }
        },
        test:function(){
            var self = this;
            var data = this.logData;
            data.data.when = new Date();
            console.log(data);
            data = JSON.stringify(data);
            
            $.ajax({
               url:"https://test.xiaoan110.com:8443/v2/log/operationTool",
               dataType: 'json',
               contentType: "application/json; charset=utf-8",
               type: 'POST',
               data: data,
               success: function(res){
                   console.log("成功");
                   console.log(res);
               },error: function(res){
                    console.log("失败");
                    console.log(res);
               }
           });

        }
    }
}
</script>

<style>
h1{
   font-size: 0.5rem;
   color: green;
}
input{
   margin-top: 1%;
   margin-left: 1%;
   height: 120px;
   width: 80%;
}
.imeiNum{
   color: green;
   font-size: 0.6rem;
}
</style>
