<template>
    <div >
        <h1>查询设备重登陆次数</h1>
        <hr>
        <div>
            <input placeholder="输入设备号..." v-model="imei" style="font-size: 0.5rem;  width: 80%;"></input>
        </div>
        <div>
            <label>查询过去</label>
            <input placeholder="输入时间..." v-model="time" style="font-size: 0.3rem;"></input>
            <input class="radio" name="week" type="radio" value="1"   checked="checked">天</input>
            <input class="radio" name="week" type="radio" value="2"   checked="unchecked">周</input>
            <input class="radio" name="week" type="radio" value="3"   checked="unchecked">月</input>
        </div>
        <div>
            <Button type="primary"  class="btn" @click="submit" style="font-size: 0.5rem;">提交</Button>
        </div>
        <br>

        <div  v-if="show">
            <div>
                <label>设备重登陆了: </label>
                <label>{{count}}</label>
                <label> 次</label>
            </div>
             
        </div>
    </div>
</template>

<script>
export default {
    data:function(){
        return{
            count:"",
            imei:"",
            time:"",
            show:false,
        }
    },
    methods:{
       
        submit: function(){
            var imei = this.imei;
            var self = this;

            if( imei.length != 15){
                  alert("设备号格式错误");
                  this.imei = "";
            }else{
                    var data = '{\"imei\":\"' + imei +'\"}';
                    console.log(data);
                    $.ajax({
                        url:"https://api.xiaoantech.com/v2/deviceUrl",
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        type: 'POST',
                        data: data,
                        success: function(res){
                            console.log(res);
                            var ip = res.deviceServerUrl.host;
                            var addr = ip ;
                            self.addr = self.ip2Url(addr);
                            self.show = true;
                        },error: function(error){
                            console.log('error:');
                            console.log(error);
                        }
                  });
            }
          }
       }
}
</script>

<style>
.radio{
    margin-top: 5%;
    padding-top:5%;
    height:50px;
    width:5%;
}
h1{
   font-size: 0.5rem;
   color: green;
}
input{
   margin-top: 1%;
   margin-left: 1%;
   height: 100px;
   width: 40%;
}
.imeiNum{
   color: green;
   font-size: 0.6rem;
}
label{
   color:green;
   font-size: 0.3rem;
}

</style>
