<template>
    <div>
       <h1>查询报警电话</h1>
       <hr>

       <div>
           <input placeholder="输入设备imei号..." v-model="imei" style="font-size: 0.5rem;"></input>
       </div>
       <div>
           <Button type="primary"  class="btn" @click="submit" style="font-size: 0.5rem;">提交</Button>
       </div>
    </div>
</template>

<script>
    export default {
      data(){
       return {
          imei:"",
       }
     },
     methods:{
         submit:function(){
             var imei = this.imei;
             var imeiStart = imei.substr(0,8);

            //  if(imeiStart != "86506702" || imei.length != 15){
             if(imei.length != 15){
                 alert("设备号格式错误");
                 this.imei = "";
             }else{
                 var self = this;
                 var imei = this.imei;
                 $.ajax({
                       url:"http://api.xiaoantech.com/v1/telephone/" + imei,
                       dataType:'json',
                       type:'GET',
                       success: function(res){
                           console.log(res);
                           if(res.telephone != undefined)
                               alert('电话号码是: '+res.telephone);
                           else if(res.code == 101) alert('电话号码是: null');
                           else self.errorHandler(res.code);//alert('查询失败');
                       },error:function(){
                           alert('查询失败');
                       }
                   });

             }
         }
     }

   }
</script>

<style>
h1{
   font-size: 0.5rem;
   color: green;
}
input{
   margin-top: 1%;
   margin-left: 1%;
   height: 120px;
   width: 80%;
}
</style>
