<template>
    <div class="imeiList">
        <h1>查询服务器</h1>
        <hr>

        <div>
            <input placeholder="输入设备号..." v-model="imei" style="font-size: 0.5rem;"></input>
        </div>
        <div>
            <Button type="primary"  class="btn" @click="submit" style="font-size: 0.5rem;">提交</Button>
        </div>
        <!-- 加载条 -->
        <div id="firstDiv"></div>
        <br>

        <div  v-if="show">
              <div>
                 <label>设备服务器地址为:</label>
              </div>
              <br>
              <div>
                 <label>{{addr}}</label>
              </div>
        </div>
    </div>
</template>

<script>
export default {
    data:function(){
        return{
            addr:'',//'10.10.10.10:1234',
            imei:"",
            show:false,
            // 显示动态加载
            opts : {            
                lines: 13, // 花瓣数目
                length: 20, // 花瓣长度
                width: 10, // 花瓣宽度
                radius: 30, // 花瓣距中心半径
                corners: 1, // 花瓣圆滑度 (0-1)
                rotate: 0, // 花瓣旋转角度
                direction: 1, // 花瓣旋转方向 1: 顺时针, -1: 逆时针
                color: 'black', // 花瓣颜色
                speed: 1, // 花瓣旋转速度
                trail: 60, // 花瓣旋转时的拖影(百分比)
                shadow: true, // 花瓣是否显示阴影
                hwaccel: false, //spinner 是否启用硬件加速及高速旋转            
                className: 'spinner', // spinner css 样式名称
                zIndex: 2e9, // spinner的z轴 (默认是2000000000)
                top: '20%', // spinner 相对父容器Top定位 单位 px
                left: '50%'// spinner 相对父容器Left定位 单位 px
            },
            spinner:"",
        }
    },
    methods:{
        // ip转url
        ip2Url: function(ipNum){
            if(ipNum == "10.116.130.111")
                 return "API小安110服务器(api.xiaoan110.com)";
            else if( ipNum == "10.116.128.149")
                 return "API服务器(api.xiaoantech.com)";
            else if(ipNum == "10.24.222.12")
                 return "NodeJs服务器(10.24.222.12)";
            else if(ipNum == "10.116.5.164")
                 return "scm服务器(scm.xiaoantech.com)";
            else if(ipNum == "118.89.104.130")
                 return "test服务器(test.xiaoantech.com)";
            else if(ipNum == "10.116.2.143")
                 return "UDP服务器(mangguo.xiaoantech.com)";
            else if(ipNum == "10.116.24.218")
                 return "微信服务器(wechat.xiaoantech.com)";
            else if(ipNum == "10.116.3.248")
                 return "李超服务器(lichao.xiaoantech.com)";
            else return ipNum;

        },
        submit: function(){
              var imei = this.imei;
              var imeiStart = imei.substr(0,8);
              var self = this;

              // if(imeiStart != "86506702" || imei.length != 15){
              if( imei.length != 15){
                  alert("设备号格式错误");
                  this.imei = "";
              }else{
                    var data = '{\"imei\":\"' + imei +'\"}';
                    console.log(data);

                    // 显示加载进度条
                    this.spinner = new Spinner(this.opts);
                    $("#firstDiv").text("");
                    var target = $("#firstDiv").get(0);
                    this.spinner.spin(target);
                    this.show = false;

                    $.ajax({
                        url:"https://api.xiaoantech.com/v2/deviceUrl",
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        type: 'POST',
                        data: data,
                        success: function(res){
                            
                            // 关闭加载条
                            self.spinner.spin();

                            console.log(res);
                            var ip = res.deviceServerUrl.host;
                            var addr = ip ;
                            self.addr = self.ip2Url(addr);
                            self.show = true;
                        },error: function(error){
                            // 关闭加载条
                            self.spinner.spin();

                            console.log('error:');
                            console.log(error);
                        }
                  });
               }
          }
       }
}
</script>

<style>
h1{
   font-size: 0.5rem;
   color: green;
}
input{
   margin-top: 1%;
   margin-left: 1%;
   height: 120px;
   width: 80%;
}
.imeiNum{
   color: green;
   font-size: 0.6rem;
}
label{
   color:green;
   font-size: 0.5rem;
}
</style>
