<template>
    <div class="tab">
        <ul style="display:flex;flex-direction:row; ">
           <li
               v-bind:style="{
                 'background':bg1,
                 'width':'33%',
                 'text-align':'center',
                 'border-right':'2px solid #e3e8ee',
               }"
               @click="selectTab1"
            > 查询 </li>
           <li 
               v-bind:style="{
                 'background':bg2,
                 'width':'33%',
                 'text-align':'center',
                 'border-right':'2px solid #e3e8ee',
               }"
                @click="selectTab2"
           > 报警 </li>
           <li
               v-bind:style="{
                 'background':bg3,
                 'width':'33%',
                 'text-align':'center',
                 'border-right':'2px solid #e3e8ee',
               }"
                @click="selectTab3"
           > 绑定 </li>
        </ul>

        <div class="subTab" v-if="showTab1">
           <span class="myTitle">查询功能使用说明</span>
           <br>

           <!-- 查询设备信息 -->
           <label>一，查询设备信息</label>
           <p class="description">
               用户输入设备号，提交之后可以查询设备的激活时间，最新登录时间，
            设备GSM信号强度，GPS信号强度，卫星数量，设备最近一天的日志。
           </p>
           <br>
           <label style="text-indent:0.5rem;">操作方法如下:</label>
           <p style="font-size:0.3rem;text-indent:0.5rem;">1，打开网址www.xiaoantech.com/operation</p>
           <img src="../assets/startPage.jpg" style="max-width:100%;max-height:100%;"/>
           <p style="font-size:0.3rem;text-indent:0.5rem;">2，选择左侧查询栏的查询设备信息</p>
           <img src="../assets/chaxunDevice.jpg" style="max-width:100%;max-height:100%;"/>
           <p style="font-size:0.3rem;text-indent:0.5rem;">3，输入设备号</p>
           <img src="../assets/inputImei11.jpg" style="max-width:100%;max-height:100%;"/>
           <p style="font-size:0.3rem;text-indent:0.5rem;">4，点击提交,返回查询结果</p>
           <img src="../assets/result11.jpg" style="max-width:100%;max-height:100%;"/>
           <img src="../assets/result12.jpg" style="max-width:100%;max-height:100%;"/>

           <!-- 查询手机绑定的设备号 -->
           <label>二，查询手机绑定的设备</label>
           <p class="description">
               用户输入手机号，提交之后可以查询该手机所绑定的所有设备，
            通过点击设备号，还能跳转到查询设备信息页面，查询设备的激活
            时间，最新登录时间，设备GSM信号强度，GPS信号强度，卫星数量，
            设备最近一天的日志等详细信息。
           </p>
           <br>
           <label style="text-indent:0.5rem;">操作方法如下:</label>
           <p style="font-size:0.3rem;text-indent:0.5rem;">1，打开网址www.xiaoantech.com/operation</p>
           <img src="../assets/startPage.jpg" style="max-width:100%;max-height:100%;"/>
           <p style="font-size:0.3rem;text-indent:0.5rem;">2，选择左侧查询栏的查询手机绑定的设备</p>
           <img src="../assets/chaxunImeiList.jpg" style="max-width:100%;max-height:100%;"/>
           <p style="font-size:0.3rem;text-indent:0.5rem;">3，输入手机号</p>
           <img src="../assets/inputTel.jpg" style="max-width:100%;max-height:100%;"/>
           <p style="font-size:0.3rem;text-indent:0.5rem;">4，点击提交,返回查询结果</p>
           <img src="../assets/result121.jpg" style="max-width:100%;max-height:100%;"/>
           <p style="font-size:0.3rem;text-indent:0.5rem;">5，点击设备号,查询该设备详细信息</p>
           <img src="../assets/result122.jpg" style="max-width:100%;max-height:100%;"/>

           <!-- 查询设备所在服务器 -->
           <label>三，查询设备所在服务器地址</label>
           <p class="description">
               用户输入设备号，提交之后可以查询该设备所在服务器地址
           </p>
           <br>
           <label style="text-indent:0.5rem;">操作方法如下:</label>
           <p style="font-size:0.3rem;text-indent:0.5rem;">1，打开网址www.xiaoantech.com/operation</p>
           <img src="../assets/startPage.jpg" style="max-width:100%;max-height:100%;"/>
           <p style="font-size:0.3rem;text-indent:0.5rem;">2，选择左侧查询栏的查询设备所在服务器地址</p>
           <img src="../assets/chaxunServer.jpg" style="max-width:100%;max-height:100%;"/>
           <p style="font-size:0.3rem;text-indent:0.5rem;">3，输入设备号</p>
           <img src="../assets/inputImei131.jpg" style="max-width:100%;max-height:100%;"/>
           <p style="font-size:0.3rem;text-indent:0.5rem;">4，点击提交,返回查询结果</p>
           <img src="../assets/result131.jpg" style="max-width:100%;max-height:100%;"/>

           <p class="description">
               武汉小安科技有限公司
           </p>
           <p class="description">
               武汉小安科技有限公司
           </p>
           <p class="description">
               武汉小安科技有限公司
           </p>
           <p class="description">
               武汉小安科技有限公司
           </p>
           <p class="description">
               武汉小安科技有限公司
           </p>


        </div>
        <div  class="subTab" v-if="showTab2">
          <span class="myTitle">报警功能使用说明</span>
          <br>

          <!-- 查询报警电话 -->
          <label>一，查询报警电话</label>
          <p class="description">
              用户输入设备号，提交之后可以查询绑定该设备的手机号
          </p>
          <br>
          <label style="text-indent:0.5rem;">操作方法如下:</label>
          <p style="font-size:0.3rem;text-indent:0.5rem;">1，打开网址www.xiaoantech.com/operation</p>
          <img src="../assets/startPage.jpg" style="max-width:100%;max-height:100%;"/>
          <p style="font-size:0.3rem;text-indent:0.5rem;">2，选择左侧报警栏的查询报警电话</p>
          <img src="../assets/chaxunTel.jpg" style="max-width:100%;max-height:100%;"/>
          <p style="font-size:0.3rem;text-indent:0.5rem;">3，输入设备号</p>
          <img src="../assets/inputImei211.jpg" style="max-width:100%;max-height:100%;"/>
          <p style="font-size:0.3rem;text-indent:0.5rem;">4，点击提交,返回查询结果</p>
          <img src="../assets/result211.jpg" style="max-width:100%;max-height:100%;"/>

          <!-- 删除报警电话 -->
          <label>二，删除报警电话</label>
          <p class="description">
              用户输入设备号，手机号，提交之后即可删除该手机号与该设备的绑定关系
          </p>
          <br>
          <label style="text-indent:0.5rem;">操作方法如下:</label>
          <p style="font-size:0.3rem;text-indent:0.5rem;">1，打开网址www.xiaoantech.com/operation</p>
          <img src="../assets/startPage.jpg" style="max-width:100%;max-height:100%;"/>
          <p style="font-size:0.3rem;text-indent:0.5rem;">2，选择左侧报警栏的删除报警电话</p>
          <img src="../assets/delTel.jpg" style="max-width:100%;max-height:100%;"/>
          <p style="font-size:0.3rem;text-indent:0.5rem;">3，输入设备号与手机号</p>
          <img src="../assets/inputImei221.jpg" style="max-width:100%;max-height:100%;"/>
          <p style="font-size:0.3rem;text-indent:0.5rem;">4，点击提交,返回查询结果</p>
          <img src="../assets/result221.jpg" style="max-width:100%;max-height:100%;"/>

         <!-- 修改报警电话 -->
         <label>三，修改报警电话</label>
         <p class="description">
             用户输入设备号，手机号，提交之后即可将该设备绑定到该手机号上
         </p>
         <br>
         <label style="text-indent:0.5rem;">操作方法如下:</label>
         <p style="font-size:0.3rem;text-indent:0.5rem;">1，打开网址www.xiaoantech.com/operation</p>
         <img src="../assets/startPage.jpg" style="max-width:100%;max-height:100%;"/>
         <p style="font-size:0.3rem;text-indent:0.5rem;">2，选择左侧报警栏的修改报警电话</p>
         <img src="../assets/modifyTel.jpg" style="max-width:100%;max-height:100%;"/>
         <p style="font-size:0.3rem;text-indent:0.5rem;">3，输入设备号与手机号</p>
         <img src="../assets/inputImei231.jpg" style="max-width:100%;max-height:100%;"/>
         <p style="font-size:0.3rem;text-indent:0.5rem;">4，点击提交,返回查询结果</p>
         <img src="../assets/result231.jpg" style="max-width:100%;max-height:100%;"/>

         <!-- 拨打报警电话 -->
         <label>四，拨打报警电话</label>
         <p class="description">
             用户输入设备号，提交之后即可将拨打该设备绑定的手机
         </p>
         <br>
         <label style="text-indent:0.5rem;">操作方法如下:</label>
         <p style="font-size:0.3rem;text-indent:0.5rem;">1，打开网址www.xiaoantech.com/operation</p>
         <img src="../assets/startPage.jpg" style="max-width:100%;max-height:100%;"/>
         <p style="font-size:0.3rem;text-indent:0.5rem;">2，选择左侧报警栏的拨打报警电话</p>
         <img src="../assets/callTel.jpg" style="max-width:100%;max-height:100%;"/>
         <p style="font-size:0.3rem;text-indent:0.5rem;">3，输入设备号</p>
         <img src="../assets/inputImei241.jpg" style="max-width:100%;max-height:100%;"/>
         <p style="font-size:0.3rem;text-indent:0.5rem;">4，点击提交,返回查询结果</p>
         <img src="../assets/result241.jpg" style="max-width:100%;max-height:100%;"/>


        </div>
        <div  class="subTab" v-if="showTab3">
            <div class="myTitle">绑定功能使用说明</div>
            <br>

            <div>绑定设备</div>
            <br>
            <div class="description">
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
            </div>
            <br>
            <div style="text-indent:0.5rem;">操作方法如下:</div><br>
            <div style="font-size:0.3rem;text-indent:0.5rem;">1，打开网址www.xiaoantech.com/operation</div>
            <br>
            <div>
                <img src="../assets/startPage.jpg" style="max-width:100%;max-height:100%;"/>
            </div>

            <div style="font-size:0.3rem;text-indent:0.5rem;">2，选择左侧绑定栏的绑定设备</div>
            <br>
            <img src="../assets/bind.jpg" style="max-width:100%;max-height:100%;"/>

            <div style="font-size:0.3rem;text-indent:0.5rem;">3，输入设备号，手机号</div>
            <br>
            <img src="../assets/inputImei311.jpg" style="max-width:100%;height:500px;"/>
            <div style="font-size:0.3rem;text-indent:0.5rem;">4，点击提交,返回查询结果</div>
            <br>
            <img src="../assets/result311.jpg" style="max-width:100%;height:500px;"/>

            <!-- <div class="description">
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号

                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号

                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号

                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号

                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号

                用户输入设备号，手机号。提交之后可以查询绑定该设备的手机号
            </div> -->
        </div>

    </div>
</template>

<script>
export default {
     data(){
        return{
            bg1:'#fff',
            bg2:'#e3e8ee',
            bg3:'#e3e8ee',

            showTab1: true,
            showTab2: false,
            showTab3: false,
        }
     },
     methods:
     {
           selectTab1:function(){
               this.showTab1 = true;
               this.showTab2 = false;
               this.showTab3 = false;
               this.bg1 = "#fff";
               this.bg2 = "#e3e8ee";
               this.bg3 = "#e3e8ee";
           },
           selectTab2:function(){
               this.showTab1 = false;
               this.showTab2 = true;
               this.showTab3 = false;
               this.bg1 = "#e3e8ee";
               this.bg2 = "#fff";
               this.bg3 = "#e3e8ee";
           },
           selectTab3:function(){
               this.showTab1 = false;
               this.showTab2 = false;
               this.showTab3 = true;
               this.bg1 = "#e3e8ee";
               this.bg2 = "#e3e8ee";
               this.bg3 = "#fff";
           },
     }
}
</script>

<style>
.tab{
   background: #e3e8ee;
   margin-top: -16px;
   width: 100%;
   height: 2500px;
   padding: 16px;
   font-size: 0.5rem;
   overflow: auto;
}
.subTab{
    width:100%;
    height:2500px;
    background: white;
    /*display: flex;*/
    /*flex-direction: column;*/
    padding: 16px;
    overflow: auto;
}
.myTitle{
    font-size:0.6rem;
    color: green;
    text-align:center;
}
.description{
    font-size: 0.3rem;
    text-indent: 0.6rem;
}

</style>
