<template>
  <div class="main_box">
    <h1 @click="jumpHome">电话报警</h1>
    <div class="modify_line1">
        <label class="modifylabel">imei</label>
        <input class="modifytext" ></input>
    </div>
    <hr>

    <div class="body_box">
        <div class="modify_box1" @click="modifyTel">
            <label class="modifyNum">修改报警电话</label>
        </div>
        <div class="modify_box1" @click="alarmTel">
            <label class="modifyNum">拨打报警电话</label>
        </div>
    </div> 

    <div class="body_box">
        <div class="modify_box1" @click="delTel">
            <label class="modifyNum">删除报警电话</label>
        </div>
        <div class="modify_box1" @click="queryTel">
            <label class="modifyNum">查询报警电话</label>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    data: function(){
        return{
            imei:'',
            flag:true,
        }
    },
    methods:
    {
        jumpHome: function(){
           this.$router.push({path:'/'});
        },
        errorHandler:function(erron){
            switch(erron){
                case 100: alert('服务器内部错误'); break;
                case 101: alert('请求无 IMEI'); break;
                case 102: alert('无请求内容'); break;
                case 103: alert('请求内容错误'); break;
                case 104: alert('请求 URL 错误'); break;
                case 105: alert('请求范围过大'); break;
                case 106: alert('接入服务器无响应'); break;
                case 107: alert('接入服务器不在线'); break;
                case 108: alert('设备无响应'); break;
                case 109: alert('设备不在线'); break;
                case 110: alert('设备内存错误'); break;
                case 111: alert('设备不支持该指令'); break;
                case 113: alert('电池类型未设置'); break;
                case 114: alert('参数不合法'); break;
                case 115: alert('参数缺失'); break;
            }
        },
        post: function(data,method){
            var self = this;
            $.ajax({
                url:"http://api.xiaoantech.com/v1/telephone/"+self.imei,
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                type: method,
                data: data,
                success: function(res)
                {
                    if(res.code == 0)  alert("操作成功");
                    else if(res.code = 101) alert('操作失败');
                    else self.errorHandler(res.code);
                },
                error: function(res)
                {
                   alert("失败");
                }
            });
        },
       // 修改报警电话
        modifyTel: function(){
            this.imei = $('.modifytext').get(0).value;
            if(this.imei != ''){
                var telnum =  prompt("输入电话号码:");
                if(telnum == null)  return;
                var data = "{\"telephone\":"+ telnum + "}";
                this.post(data,'POST');
            }else{
                alert('未输入IMEI');
            }
        },
       // 测试报警电话
        alarmTel: function(){
            this.imei = $('.modifytext').get(0).value;
            if(this.imei != ''){
                var data = "{\"caller\":0}";
                this.post(data,'PUT');
            }else{
                alert('未输入IMEI');
            }
        },
        // 删除报警电话
        delTel: function(){
            this.imei = $('.modifytext').get(0).value;
            if(this.imei != ''){
                var telnum =  prompt("输入电话号码:");
                if(telnum == null) return;
                var data = "{\"telephone\":"+ telnum + "}";
                this.post(data,'DELETE');
            }else{
                alert('未输入IMEI');
            }
        },
        // 查询报警电话
        queryTel: function(){
            this.imei = $('.modifytext').get(0).value;
            var self = this;
            if(this.imei != ''){
                var imei = this.imei;
                $.ajax({
                    url:"http://api.xiaoantech.com/v1/telephone/" + imei,
                    dataType:'json',
                    type:'GET',
                    success: function(res){
                        console.log(res);
                        if(res.telephone != undefined)
                            alert('电话号码是: '+res.telephone);
                        else if(res.code == 101) alert('电话号码是: null');
                        else self.errorHandler(res.code);//alert('查询失败');
                    },error:function(){
                        alert('查询失败');
                    }
                });
            }else{
                alert('未输入IMEI');
            }
       },
   }
}
</script>

<style>
.main_box
{
    font-size: 50px;
    color: green;
}
.body_box{
     display: flex;
     flex-direction: row;
     margin-top: 10%;
}
.modifyline1{
     display: flex;
     flex-direction: row;
     height: 10%;
     padding-bottom: 20px;
     border-bottom: 5px solid black;
}
.modifytext{
    width: 80%;
    height:80px;
    box-shadow: 10px 10px 15px black;
    margin-left:1%;
}
.modifylabel{
    font-size: 90px;
    margin-left: 0;
}
.modify_box1{
    width:45%;
    border: 5px solid black;
    margin: 2%;
    box-shadow: 30px 30px 20px black;
}
.modifyNum{
    margin-top: 20%;
    font-size: 90px;
    font-weight: bold;
    color: green;
}
</style>
