<template>
    <div>
       <h1>设备升级</h1>
       <hr>

       <div>
           <input placeholder="输入设备imei号..." v-model="imei" style="font-size: 0.5rem;"></input>
       </div>
       <div>
           <Button type="primary"  class="btn" @click="submit" style="font-size: 0.5rem;">升级</Button>
       </div>

        <!-- 加载条 -->
        <br><br>
        <div id="firstDiv"></div>
        
    </div>
</template>

<script>
export default {
    data(){
        return {
            imei:"",
            dataUpgrade:{
                "imei":"",
                "cmd":{
                    "c":2
                }
            },
            // 显示动态加载
            opts : {            
                lines: 13, // 花瓣数目
                length: 20, // 花瓣长度
                width: 10, // 花瓣宽度
                radius: 30, // 花瓣距中心半径
                corners: 1, // 花瓣圆滑度 (0-1)
                rotate: 0, // 花瓣旋转角度
                direction: 1, // 花瓣旋转方向 1: 顺时针, -1: 逆时针
                color: 'black', // 花瓣颜色
                speed: 1, // 花瓣旋转速度
                trail: 60, // 花瓣旋转时的拖影(百分比)
                shadow: true, // 花瓣是否显示阴影
                hwaccel: false, //spinner 是否启用硬件加速及高速旋转            
                className: 'spinner', // spinner css 样式名称
                zIndex: 2e9, // spinner的z轴 (默认是2000000000)
                top: '20%', // spinner 相对父容器Top定位 单位 px
                left: '50%'// spinner 相对父容器Left定位 单位 px
            },
            spinner:"",
        }
    },
    methods:{
        submit:function(){
            var imei = this.imei;
            if(imei.length != 15){
                alert("设备号格式错误");
                this.imei = "";
            }else{
                var self = this;
                this.dataUpgrade.imei = this.imei;
                $.ajax({
                    url:"http://api.xiaoantech.com/v1/server",
                    dataType:'json',
                    contentType: "application/json; charset=utf-8",
                    type:'POST',
                    data: JSON.stringify(self.dataUpgrade),
                    beforeSend:function(){
                        self.spinner = new Spinner(self.opts);
                        $("#firstDiv").text("");
                        var target = $("#firstDiv").get(0);
                        self.spinner.spin(target);
                    },
                    success: function(res){
                        self.spinner.spin();
                        console.log("升级收到回复:",res);
                        if(res.code == 0) alert('设备升级成功');
                        else alert('设备升级失败');
                    },error:function(){
                        self.spinner.spin();
                        alert('设备升级失败');
                    }
                });

            }
        }
    }

   }
</script>

<style>
h1{
   font-size: 0.5rem;
   color: green;
}
input{
   margin-top: 1%;
   margin-left: 1%;
   height: 120px;
   width: 80%;
}
</style>
